<form method="POST" action="/trailshoes">
  <div>
    <label for="brand">Brand</label>
    <input type="text" name="brand" id="brand" required>
  </div>
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
  </div>
  <fieldset>
    <legend>Description</legend>
    <div>
      <label for="description">Description Line 1</label>
      <input type="text" name="description[line1]" id="line1" required>
    </div>
    <div>
      <label for="description">Description Line 2</label>
      <input type="text" name="description[line2]" id="line2" required>
    </div>
    <div>
      <label for="description">Description Line 3</label>
      <input type="text" name="description[line3]" id="line3">
    </div>
  </fieldset>
  <div>
    <label for="stars">Stars</label>
    <input type="number" name="stars" id="stars" min="1" max="5" required>
  </div>
  <div>
    <label for="image">Image</label>
    <input type="text" name="image" id="image" required>
  </div>

  <button class="button">Add</button>
</form>
