span.heart {
  color: red;
}

body {
  // font-family: 'Helvetica', sans-serif;
  font-family: 'Neuton', serif;
  font-family: 'Anton', sans-serif;
  height: 100%;
  margin: 0;
}

h4 {
  font-family: 'Neuton', serif;
  font-family: 'Anton', sans-serif;
}

h2 {
  text-transform: uppercase;
  font-weight:bold;
}

.option {
  position: absolute;
  top:50px;
  right:100px;
  text-align: right;
  a, button {
    margin-bottom:10px;
    min-width:100px;
    cursor:pointer;
  }

}
.nav-item {
  text-transform:uppercase;
  font-weight: bold;
}

.navbar-brand {
  text-transform:uppercase;
  font-weight: bold;
}

.sr-only {
  text-align: left;
}

.staroutline {
  color: #333333;
}

.button {
  background-color: #333333;
  color: white;
  min-width: 100px;
}

.image-responsive {
  padding-top: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -30px;
}

.footer, .push {
  height: 30px;
}

footer {
  background-color: #333333;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  span.cr {
    float: right;
  // span.heart {
  //   color: red;
  // }
  }
}

.mr-auto {
  margin: 0!important;
}

ul {
  margin-left: 0;
}
