<div class="container">
<h4 class="titles">Create Trail Shoe Entry</h4>
<form method="POST" action="/trailshoes">
  <div class="form-group">
    <label for="brand">Brand</label>
    <input type="text" name="brand" id="brand" required>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" id="description" rows="3" required></textarea>
  </div>
  <div class="form-group">
    <label for="stars">Stars (1-5)</label>
    <input type="number" name="stars" id="stars" min="1" max="5" required>
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="text" name="image" id="image" required>
  </div>

  <button class="button">Add</button>
</form>
</div>
