<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <p>
        <h4>Trail running shoe reviews by you, get your GRIP and MOVE!</h4>
      </p>
    </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <p>
        <img src="/images/HPStream.jpg">
      </p>
    </div>
  </div>
</div>
