<h1><%= user.name %></h1>

<p><%= user.email %></p>

<a href="/profile/edit" class="button">Edit</a>

<form method="POST" action="/profile" >
  <input type="hidden" name="method" value="DELETE">
  <button class="button alert">Delete</button>
</form>
