<div class="container">

<h4>User Details</h4>

<div class="form-group">
  <label for="username">Email</label>

<p><%= user.email %></p>
</div>

<a href="/profile/edit" class="button">Edit</a>

<form method="POST" action="/profile" >
  <input type="hidden" name="method" value="DELETE">
  <button class="button alert">Delete</button>
</form>

</div>
