<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a href="/">Trail Shoe Comments</a></li>
      <li><a href="/trailshoes">Trailshoes</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <% if(!locals.isAuthenticated) { %>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      <% } else { %>
        <li><a href="/profile"><%= user.username %></a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/trailshoes/new">Add Trailshoe</a></li>
      <% } %>
    </ul>
  </div>
</div>
