<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>RESTful App</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/client.js" charset="utf-8"></script>
</head>
<body>
  <%- body %>
</body>
</html>
