<% if (locals.message) { %>
  <p><%= message %></p>
<% } %>

<h1>Login</h1>

<form method="POST" action="/login" >
  <div>
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>
    <button class="button">Login</button>
  </div>
</form>
